<h3 id="dokumentace-temporalnich-dotazu">Dokumentace temporalnich dotazu</h3>

<p>Iurii Kuznetcov, xkuzne00</p>

<p><strong>Smazani všech letu v daném období</strong></p>

<p><em>TSQL2:</em></p>

<pre class="prettyprint"><code class=" hljs ruleslanguage"><span class="hljs-keyword">DELETE</span> <span class="hljs-keyword">FROM</span> flight VALIDTIME [START_PERIOD, END_PERIOD]</code></pre>

<p><em>SQL:</em></p>



<pre class="prettyprint"><code class=" hljs sql"><span class="hljs-operator"><span class="hljs-keyword">CREATE</span> <span class="hljs-keyword">OR</span> <span class="hljs-keyword">REPLACE</span> <span class="hljs-keyword">PROCEDURE</span> DELETEALLFLIGHTSINPERIOD (
  START_PERIOD <span class="hljs-keyword">DATE</span>,
  END_PERIOD <span class="hljs-keyword">DATE</span>
) <span class="hljs-keyword">IS</span>

TEMP_ID <span class="hljs-keyword">INTEGER</span>;</span>
TEMP_START_POINT_ID INTEGER;
TEMP_END_POINT_ID INTEGER;
TEMP_START_DATETIME DATE;
TEMP_END_DATETIME DATE;
TEMP_CLIENT_ID INTEGER;
TEMP_HELIKOPTER_ID INTEGER;

UPDATED_END DATE;
UPDATED_START DATE;

CURSOR TEMP_FLIGHT_INFO_1 IS
    <span class="hljs-operator"><span class="hljs-keyword">SELECT</span> ID, START_POINT_ID, END_POINT_ID, CLIENT_ID, HELIKOPTER_ID, START_DATETIME, END_DATETIME
    <span class="hljs-keyword">FROM</span> FLIGHT <span class="hljs-keyword">WHERE</span> START_DATETIME &lt; START_PERIOD <span class="hljs-keyword">AND</span> END_DATETIME &gt; END_PERIOD;</span>
CURSOR TEMP_FLIGHT_INFO_2 IS
    <span class="hljs-operator"><span class="hljs-keyword">SELECT</span> ID, START_POINT_ID, END_POINT_ID, CLIENT_ID, HELIKOPTER_ID, START_DATETIME, END_DATETIME
    <span class="hljs-keyword">FROM</span> FLIGHT <span class="hljs-keyword">WHERE</span> START_DATETIME &lt; END_PERIOD <span class="hljs-keyword">AND</span> END_DATETIME &gt; START_PERIOD;</span>

<span class="hljs-operator"><span class="hljs-keyword">BEGIN</span>
    <span class="hljs-keyword">IF</span> START_PERIOD &lt;= END_PERIOD <span class="hljs-keyword">THEN</span>
        UPDATED_END := START_PERIOD - <span class="hljs-number">1</span>;</span>
        UPDATED_START := END_PERIOD + 1;

        <span class="hljs-operator"><span class="hljs-keyword">DELETE</span> <span class="hljs-keyword">FROM</span> FLIGHT <span class="hljs-keyword">WHERE</span> START_DATETIME &gt;= START_PERIOD <span class="hljs-keyword">AND</span> END_DATETIME &lt;= END_PERIOD;</span>
        <span class="hljs-operator"><span class="hljs-keyword">UPDATE</span> FLIGHT
            <span class="hljs-keyword">SET</span> END_DATETIME = UPDATED_END
            <span class="hljs-keyword">WHERE</span> START_DATETIME &lt; START_PERIOD <span class="hljs-keyword">AND</span> (END_DATETIME BETWEEN START_PERIOD <span class="hljs-keyword">AND</span> END_PERIOD);</span>
        <span class="hljs-operator"><span class="hljs-keyword">UPDATE</span> FLIGHT
            <span class="hljs-keyword">SET</span> START_DATETIME = UPDATED_START
            <span class="hljs-keyword">WHERE</span> END_DATETIME &gt; END_PERIOD <span class="hljs-keyword">AND</span> (START_DATETIME BETWEEN START_PERIOD <span class="hljs-keyword">AND</span> END_PERIOD);</span>

        OPEN TEMP_FLIGHT_INFO_1;
        LOOP
            FETCH TEMP_FLIGHT_INFO_1
                INTO TEMP_ID, TEMP_START_POINT_ID,  TEMP_END_POINT_ID, TEMP_CLIENT_ID, TEMP_HELIKOPTER_ID, TEMP_START_DATETIME, TEMP_END_DATETIME;

            EXIT WHEN TEMP_FLIGHT_INFO_1%NOTFOUND;

            <span class="hljs-operator"><span class="hljs-keyword">INSERT</span> <span class="hljs-keyword">INTO</span> FLIGHT (START_POINT_ID, END_POINT_ID, CLIENT_ID, HELIKOPTER_ID, START_DATETIME, END_DATETIME)
                <span class="hljs-keyword">VALUES</span>(TEMP_START_POINT_ID,  TEMP_END_POINT_ID, TEMP_CLIENT_ID, TEMP_HELIKOPTER_ID, UPDATED_START, TEMP_END_DATETIME);</span>

            <span class="hljs-operator"><span class="hljs-keyword">UPDATE</span> FLIGHT
                <span class="hljs-keyword">SET</span> END_DATETIME = UPDATED_END
                <span class="hljs-keyword">WHERE</span> ID = TEMP_ID;</span>
        <span class="hljs-operator"><span class="hljs-keyword">END</span> LOOP;</span>
        CLOSE TEMP_FLIGHT_INFO_1;
    ELSE
        UPDATED_END := END_PERIOD - 1;
        UPDATED_START := START_PERIOD + 1;

        <span class="hljs-operator"><span class="hljs-keyword">DELETE</span> <span class="hljs-keyword">FROM</span> FLIGHT <span class="hljs-keyword">WHERE</span> START_DATETIME &gt;= END_PERIOD <span class="hljs-keyword">AND</span> END_DATETIME &lt;= START_PERIOD;</span>
        <span class="hljs-operator"><span class="hljs-keyword">UPDATE</span> FLIGHT
            <span class="hljs-keyword">SET</span> END_DATETIME = UPDATED_END
            <span class="hljs-keyword">WHERE</span> START_DATETIME &lt; END_PERIOD <span class="hljs-keyword">AND</span> (END_DATETIME BETWEEN END_PERIOD <span class="hljs-keyword">AND</span> START_PERIOD);</span>
        <span class="hljs-operator"><span class="hljs-keyword">UPDATE</span> FLIGHT
            <span class="hljs-keyword">SET</span> START_DATETIME = UPDATED_START
            <span class="hljs-keyword">WHERE</span> END_DATETIME &gt; START_PERIOD <span class="hljs-keyword">AND</span> (START_DATETIME BETWEEN END_PERIOD <span class="hljs-keyword">AND</span> START_PERIOD);</span>

        OPEN TEMP_FLIGHT_INFO_2;
        LOOP
            FETCH TEMP_FLIGHT_INFO_2
                INTO TEMP_ID, TEMP_START_POINT_ID,  TEMP_END_POINT_ID, TEMP_CLIENT_ID, TEMP_HELIKOPTER_ID, TEMP_START_DATETIME, TEMP_END_DATETIME;

            EXIT WHEN TEMP_FLIGHT_INFO_2%NOTFOUND;

            <span class="hljs-operator"><span class="hljs-keyword">INSERT</span> <span class="hljs-keyword">INTO</span> FLIGHT (START_POINT_ID,END_POINT_ID, CLIENT_ID, HELIKOPTER_ID, START_DATETIME, END_DATETIME)
                <span class="hljs-keyword">VALUES</span>(TEMP_START_POINT_ID, TEMP_END_POINT_ID, TEMP_CLIENT_ID, TEMP_HELIKOPTER_ID, UPDATED_START, TEMP_END_DATETIME);</span>

            <span class="hljs-operator"><span class="hljs-keyword">UPDATE</span> FLIGHT
                <span class="hljs-keyword">SET</span> END_DATETIME = UPDATED_END
                <span class="hljs-keyword">WHERE</span> ID = TEMP_ID;</span>
        <span class="hljs-operator"><span class="hljs-keyword">END</span> LOOP;</span>
        CLOSE TEMP_FLIGHT_INFO_2;
    <span class="hljs-operator"><span class="hljs-keyword">END</span> <span class="hljs-keyword">IF</span>;</span>
    <span class="hljs-operator"><span class="hljs-keyword">COMMIT</span>;</span>
<span class="hljs-operator"><span class="hljs-keyword">END</span>;</span></code></pre>

<p><strong>Změna pasažéra v letu na jineho.</strong></p>

<p><em>TSQL2:</em></p>



<pre class="prettyprint"><code class=" hljs sql"><span class="hljs-operator"><span class="hljs-keyword">UPDATE</span> FLIGHT <span class="hljs-keyword">SET</span> CLIENT_ID = <span class="hljs-number">1</span> <span class="hljs-keyword">WHERE</span> HELIKOPTER_ID = <span class="hljs-number">1</span> <span class="hljs-keyword">AND</span> CLIENT_ID = <span class="hljs-number">1</span> 
    VALIDTIME [<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'12/30/2016 12'</span>]</span></code></pre>

<p><em>SQL:</em></p>



<pre class="prettyprint"><code class=" hljs sql"><span class="hljs-operator"><span class="hljs-keyword">UPDATE</span> FLIGHT <span class="hljs-keyword">SET</span> CLIENT_ID = <span class="hljs-number">1</span> <span class="hljs-keyword">WHERE</span> HELIKOPTER_ID = <span class="hljs-number">1</span> <span class="hljs-keyword">AND</span> CLIENT_ID = <span class="hljs-number">1</span> 
    <span class="hljs-keyword">AND</span> START_DATETIME = to_date(<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) 
    <span class="hljs-keyword">AND</span> END_DATETIME = to_date(<span class="hljs-string">'12/30/2016 12'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>)</span></code></pre>

<p><strong>Obrdrezni všech volnych helikoptér v daném období (volny = ktere má alespoň jedne volne mésto)</strong></p>



<pre class="prettyprint"><code class=" hljs sql"><span class="hljs-operator"><span class="hljs-keyword">SELECT</span> helikopter.id <span class="hljs-keyword">as</span> id, helikopter.speed <span class="hljs-keyword">as</span> speed, helikopter.capacity <span class="hljs-keyword">as</span> capacity, helikopter.price <span class="hljs-keyword">as</span> price, helikopter.name <span class="hljs-keyword">as</span> name, helikopter.picture <span class="hljs-keyword">as</span> picture
    <span class="hljs-keyword">FROM</span> flight <span class="hljs-keyword">INNER</span> <span class="hljs-keyword">JOIN</span> helikopter <span class="hljs-keyword">ON</span> flight.HELIKOPTER_ID = helikopter.id
    <span class="hljs-keyword">WHERE</span> <span class="hljs-keyword">NOT</span>(VALIDTIME [<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'12/30/2016 12'</span>]))</span></code></pre>

<p><em>SQL:</em></p>



<pre class="prettyprint"><code class=" hljs sql"><span class="hljs-operator"><span class="hljs-keyword">SELECT</span> helikopter.id <span class="hljs-keyword">as</span> id, helikopter.speed <span class="hljs-keyword">as</span> speed, helikopter.capacity <span class="hljs-keyword">as</span> capacity, helikopter.price <span class="hljs-keyword">as</span> price, helikopter.name <span class="hljs-keyword">as</span> name, helikopter.picture <span class="hljs-keyword">as</span> picture
    <span class="hljs-keyword">FROM</span> flight <span class="hljs-keyword">INNER</span> <span class="hljs-keyword">JOIN</span> helikopter <span class="hljs-keyword">ON</span> flight.HELIKOPTER_ID = helikopter.id
    <span class="hljs-keyword">WHERE</span> <span class="hljs-keyword">NOT</span>(START_DATETIME BETWEEN to_date(<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) <span class="hljs-keyword">AND</span> to_date(<span class="hljs-string">'12/30/2016 12'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>)
    <span class="hljs-keyword">OR</span> (to_date(<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) BETWEEN START_DATETIME <span class="hljs-keyword">AND</span> END_DATETIME)
    <span class="hljs-keyword">OR</span> (to_date(<span class="hljs-string">'12/30/2016 12'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) BETWEEN START_DATETIME <span class="hljs-keyword">AND</span> END_DATETIME))</span></code></pre>

<p><strong>Změna pasažéra v letu na jineho.</strong></p>

<p><em>TSQL2:</em></p>



<pre class="prettyprint"><code class=" hljs sql"><span class="hljs-operator"><span class="hljs-keyword">UPDATE</span> FLIGHT <span class="hljs-keyword">SET</span> CLIENT_ID = <span class="hljs-number">1</span> <span class="hljs-keyword">WHERE</span> HELIKOPTER_ID = <span class="hljs-number">1</span> <span class="hljs-keyword">AND</span> CLIENT_ID = <span class="hljs-number">1</span> 
    VALIDTIME [<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'12/30/2016 12'</span>]</span></code></pre>

<p><em>SQL:</em></p>



<pre class="prettyprint"><code class=" hljs sql"><span class="hljs-operator"><span class="hljs-keyword">UPDATE</span> FLIGHT <span class="hljs-keyword">SET</span> CLIENT_ID = <span class="hljs-number">1</span> <span class="hljs-keyword">WHERE</span> HELIKOPTER_ID = <span class="hljs-number">1</span> <span class="hljs-keyword">AND</span> CLIENT_ID = <span class="hljs-number">1</span> 
    <span class="hljs-keyword">AND</span> START_DATETIME = to_date(<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) 
    <span class="hljs-keyword">AND</span> END_DATETIME = to_date(<span class="hljs-string">'12/30/2016 12'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>)</span></code></pre>

<p><strong>Obrdrezni všech volnych helikoptér v daném období (volny = ktere má alespoň jedne volne mésto)</strong></p>

<p><em>TSQL2:</em></p>



<pre class="prettyprint"><code class=" hljs sql"><span class="hljs-operator"><span class="hljs-keyword">SELECT</span> helikopter.id <span class="hljs-keyword">as</span> id, helikopter.speed <span class="hljs-keyword">as</span> speed, helikopter.capacity <span class="hljs-keyword">as</span> capacity, helikopter.price <span class="hljs-keyword">as</span> price, helikopter.name <span class="hljs-keyword">as</span> name, helikopter.picture <span class="hljs-keyword">as</span> picture
    <span class="hljs-keyword">FROM</span> flight <span class="hljs-keyword">INNER</span> <span class="hljs-keyword">JOIN</span> helikopter <span class="hljs-keyword">ON</span> flight.HELIKOPTER_ID = helikopter.id
    <span class="hljs-keyword">WHERE</span> <span class="hljs-keyword">NOT</span>(VALIDTIME [<span class="hljs-number">12</span>/<span class="hljs-number">30</span>/<span class="hljs-number">2016</span> <span class="hljs-number">10</span>, <span class="hljs-number">12</span>/<span class="hljs-number">30</span>/<span class="hljs-number">2016</span> <span class="hljs-number">12</span>]))</span></code></pre>

<p><em>SQL:</em></p>



<pre class="prettyprint"><code class=" hljs sql"><span class="hljs-operator"><span class="hljs-keyword">SELECT</span> helikopter.id <span class="hljs-keyword">as</span> id, helikopter.speed <span class="hljs-keyword">as</span> speed, helikopter.capacity <span class="hljs-keyword">as</span> capacity, helikopter.price <span class="hljs-keyword">as</span> price, helikopter.name <span class="hljs-keyword">as</span> name, helikopter.picture <span class="hljs-keyword">as</span> picture
    <span class="hljs-keyword">FROM</span> flight <span class="hljs-keyword">INNER</span> <span class="hljs-keyword">JOIN</span> helikopter <span class="hljs-keyword">ON</span> flight.HELIKOPTER_ID = helikopter.id
    <span class="hljs-keyword">WHERE</span> <span class="hljs-keyword">NOT</span>(START_DATETIME BETWEEN to_date(<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) <span class="hljs-keyword">AND</span> to_date(<span class="hljs-string">'12/30/2016 12'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>)
    <span class="hljs-keyword">OR</span> (to_date(<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) BETWEEN START_DATETIME <span class="hljs-keyword">AND</span> END_DATETIME)
    <span class="hljs-keyword">OR</span> (to_date(<span class="hljs-string">'12/30/2016 12'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) BETWEEN START_DATETIME <span class="hljs-keyword">AND</span> END_DATETIME))</span></code></pre>

<p><strong>Obrdrezni ceny všech letu v daném období (cena = doba letu (v hodinach) * cena za hodinu daneho helikoptera)</strong></p>

<p><em>TSQL2:</em></p>



<pre class="prettyprint"><code class=" hljs sql"><span class="hljs-operator"><span class="hljs-keyword">SELECT</span> <span class="hljs-aggregate">SUM</span>((((END_DATETIME) - (START_DATETIME)) * <span class="hljs-number">24</span>) * HELIKOPTER.PRICE) <span class="hljs-keyword">AS</span> cost <span class="hljs-keyword">FROM</span> FLIGHT <span class="hljs-keyword">INNER</span> <span class="hljs-keyword">JOIN</span> HELIKOPTER <span class="hljs-keyword">ON</span> FLIGHT.HELIKOPTER_ID = HELIKOPTER.ID
    VALIDTIME [<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'12/30/2016 12'</span>]</span></code></pre>

<p><em>SQL:</em></p>



<pre class="prettyprint"><code class=" hljs sql"><span class="hljs-operator"><span class="hljs-keyword">SELECT</span> <span class="hljs-aggregate">SUM</span>((((END_DATETIME) - (START_DATETIME)) * <span class="hljs-number">24</span>) * HELIKOPTER.PRICE) <span class="hljs-keyword">AS</span> cost <span class="hljs-keyword">FROM</span> FLIGHT <span class="hljs-keyword">INNER</span> <span class="hljs-keyword">JOIN</span> HELIKOPTER <span class="hljs-keyword">ON</span> FLIGHT.HELIKOPTER_ID = HELIKOPTER.ID
    <span class="hljs-keyword">WHERE</span> START_DATETIME BETWEEN to_date(<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) <span class="hljs-keyword">AND</span> to_date(<span class="hljs-string">'12/30/2016 12'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) 
    <span class="hljs-keyword">OR</span> (to_date(<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) BETWEEN START_DATETIME <span class="hljs-keyword">AND</span> END_DATETIME)
    <span class="hljs-keyword">OR</span> (to_date(<span class="hljs-string">'12/30/2016 12'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) BETWEEN START_DATETIME <span class="hljs-keyword">AND</span> END_DATETIME)</span></code></pre>

<p><strong>Obrdrezni top N pasažérovi v daném obdob</strong></p>

<p><em>TSQL2:</em></p>



<pre class="prettyprint"><code class=" hljs sql"><span class="hljs-operator"><span class="hljs-keyword">SELECT</span> name, <span class="hljs-aggregate">count</span> <span class="hljs-keyword">FROM</span> (<span class="hljs-keyword">SELECT</span> CUSTOMER.EMAIL <span class="hljs-keyword">as</span> name, <span class="hljs-aggregate">count</span>(*) <span class="hljs-keyword">AS</span> <span class="hljs-aggregate">count</span> <span class="hljs-keyword">FROM</span> FLIGHT <span class="hljs-keyword">INNER</span> <span class="hljs-keyword">JOIN</span> CUSTOMER <span class="hljs-keyword">ON</span> FLIGHT.CLIENT_ID = CUSTOMER.ID 
    ) <span class="hljs-keyword">GROUP</span> <span class="hljs-keyword">BY</span> CUSTOMER.EMAIL <span class="hljs-keyword">ORDER</span> <span class="hljs-keyword">BY</span> <span class="hljs-aggregate">count</span> <span class="hljs-keyword">DESC</span>) <span class="hljs-keyword">WHERE</span> ROWNUM &lt;= N
    VALIDTIME [<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'12/30/2016 12'</span>]</span></code></pre>

<p><em>SQL:</em></p>



<pre class="prettyprint"><code class=" hljs sql"><span class="hljs-operator"><span class="hljs-keyword">SELECT</span> name, <span class="hljs-aggregate">count</span> <span class="hljs-keyword">FROM</span> (<span class="hljs-keyword">SELECT</span> CUSTOMER.EMAIL <span class="hljs-keyword">as</span> name, <span class="hljs-aggregate">count</span>(*) <span class="hljs-keyword">AS</span> <span class="hljs-aggregate">count</span> <span class="hljs-keyword">FROM</span> FLIGHT <span class="hljs-keyword">INNER</span> <span class="hljs-keyword">JOIN</span> CUSTOMER <span class="hljs-keyword">ON</span> FLIGHT.CLIENT_ID = CUSTOMER.ID 
    <span class="hljs-keyword">WHERE</span> START_DATETIME BETWEEN to_date(<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) <span class="hljs-keyword">AND</span> to_date(<span class="hljs-string">'12/30/2016 12'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) <span class="hljs-keyword">OR</span> (to_date(<span class="hljs-string">'12/30/2016 10'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) BETWEEN START_DATETIME <span class="hljs-keyword">AND</span> END_DATETIME) <span class="hljs-keyword">OR</span> (to_date(<span class="hljs-string">'12/30/2016 12'</span>, <span class="hljs-string">'mm/dd/yyyy hh24'</span>) BETWEEN START_DATETIME <span class="hljs-keyword">AND</span> END_DATETIME
    ) <span class="hljs-keyword">GROUP</span> <span class="hljs-keyword">BY</span> CUSTOMER.EMAIL <span class="hljs-keyword">ORDER</span> <span class="hljs-keyword">BY</span> <span class="hljs-aggregate">count</span> <span class="hljs-keyword">DESC</span>) <span class="hljs-keyword">WHERE</span> ROWNUM &lt;= N</span></code></pre>